body.landing { 
  background-color: #151718;
}

/* header */

#navbar {
  width: 85%;
  position: fixed;
  background: transparent;
  /* box-shadow: 0px 5px 20px rgb(0, 0, 0, 0.5); */
  padding: .5rem 1.5rem;
  z-index: 99999;
  transition: background-color .3s ease, padding .8s, box-shadow .3s, width .8s ease, border .3s, top .8s, border-radius .3s;
  border-bottom: 1px solid transparent;
  left: 50%;
  transform: translateX(-50%);
  top: 20px;
  border-radius: 50px;
}

#navbar.active {
  background: rgb(21, 23, 24, 0.99) !important;
  box-shadow: 0px 5px 20px rgb(0, 0, 0, 0.5);
  width: 75%;
  left: 50%;
  transform: translateX(-50%);
  border-bottom: 1px solid transparent;
  top: 30px;
  border-radius: 50px;
}

#navbar .overlay {
  display: none;
}

#navbar .navbar-brand {
  font-size: 1.7rem !important;
  font-weight: 700 !important;
  text-transform: uppercase;
  transition: color .3s;
}

#navbar.active .navbar-brand {
  color: var(--primary);
}

/* youtubemych */


#youtubemych {
  margin-top: 50px;
  padding: 0.5rem;
  padding-bottom: 4.3rem;

  margin-top: -100px;
  background-color: #151718;
  position: relative;
  border-top: 1px solid #3C3C3C;
  border-bottom: 1px solid #3C3C3C;
}

#youtubemych h2 {
  margin-bottom: .3rem;
  font-weight: bold;
  color: white;
}

#youtubemych p {
  margin-bottom: 1.5rem;
  color: white;
  font-weight: 500;
  font-size: 1.2rem;
}

#youtubemych a {
  margin: .5rem .5rem;
  display: inline-block;
  background-color: var(--primary);
  color: white;
}

/* ~youtubemych */


#navbar .nav-btn {
  text-transform: none;
  color: var(--primary);
  background: transparent;
  border: 1px solid var(--primary);
  border-radius: 100px;
  padding: .5rem 1.7rem;
  transition: box-shadow .3s ease;
  font-size: .8rem;
  text-transform: uppercase;
}

#navbar .nav-btn.account-btn {
  border: 0;
  color: white;
  box-shadow: none;
}

#navbar .nav-btn.account-btn:hover {
  box-shadow: none !important;
  border: 0 !important;

}


#navbar .nav-btn.account-btn i {
  color: var(--primary);
}

#navbar .nav-btn i {
  margin-right: .4rem;
  margin-left: 0;
  font-size: 1.2rem;
}

#navbar .navbar-nav {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

#navbar .nav-btn:hover {
  box-shadow: 0px 0px 10px 2px rgb(255, 255, 255, .02);
}

#navbar .navbar-toggler {
  border-color: transparent;
  box-shadow: none;
}

#navbar .nav-link {
  font-weight: 500 !important;
}

#navbar .nav-item.active .nav-link {
  color: white !important;
}

#navbar .nav-link {
  font-size: 1.1rem;
}

/* ~header */
/* landing */

#landing {
  width: 100%;
  height: 100vh;
  position: relative;
  overflow-x: hidden;
}

#landing .blur {
  backdrop-filter: blur(2px);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

#landing .background {
  background: url(../../../img/mycheatsn_background.jpg);
  background-position: center center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  background-clip: border-box;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: .2;
}

#landing svg {
  position: absolute;
  bottom: 0;
}

#landing .content {
  position: relative;
  z-index: 2;
}

#landing .content .span-off {
  color: white;
  font-size: 1.5rem;
}

#landing .content h1 {
  color: white;
  font-size: 4rem;
  font-weight: 700;
}

#landing .content p {
  color: #9BA1A6;
  font-size: 1.1rem;
  font-weight: 500;
  margin-bottom: 3rem;
}

#landing .content .button {
  background-color: var(--primary);
  color: white;
  font-size: 1rem;
  position: relative;
  padding-right: 2.7rem;
  box-shadow: none;
  transition: padding-right .3s ease, opacity .3s ease, box-shadow .3s ease;
  display: flex;
  text-align: center;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

#landing .content .button:hover {
  padding-right: 3rem;
  opacity: .95;
  box-shadow: 0px 1px 10px 2px var(--primary-opaque-strong);
}

#landing .content .button i {
  font-size: 1.5rem;
}

/* #landing .content .button i {
  font-size: 1.5rem;
  position: absolute;
  right: .9rem;
  bottom: 50%;
  transform: translateY(50%);
} */

#landing .content .button.read {
  background-color: transparent;
  color: #9BA1A6;
  box-shadow: none;
  padding-left: 1rem;
  padding-right: 0;
  font-weight: 500;
}

#landing .overlay-left {
  position: absolute;
  width: 543px;
  height: 543px;
  left: -305px;
  top: 89px;
  background: radial-gradient(50% 50% at 50% 50%, rgba(186, 8, 8, 0.45) 0%, rgba(186, 8, 8, 0.15) 64.58%, rgba(186, 8, 8, 0) 100%);
}

#landing .overlay-right {
  position: absolute;
  width: 543px;
  height: 543px;
  right: -350px;
  bottom: 20px;
  background: radial-gradient(50% 50% at 50% 50%, rgba(186, 8, 8, 0.45) 0%, rgba(186, 8, 8, 0.15) 64.58%, rgba(186, 8, 8, 0) 100%);
}

/* ~landing */
/* why choose */

#pq-mycheats {
  width: 100%;
  background-color: #121415;
  overflow: hidden;
  padding: 5rem 0;
  position: relative;
}

#pq-mycheats .top-text {
  color: white;
}

#pq-mycheats .top-text h2 {
  font-weight: 700;
  font-size: 2.4rem;
  margin-bottom: .5rem;
}

#pq-mycheats .top-text p {
  font-weight: 500;
  font-size: 1rem;
  line-height: 25px;
  color: #9BA1A6;
  margin-bottom: 2rem;
}

#pq-mycheats .box {
  color: white;
  position: relative;
  z-index: 1;
}

#pq-mycheats .box .top {
  position: relative;
  left: -.3rem;
}

#pq-mycheats .box .top i {
  font-size: 3.5rem;
  color: var(--primary);
}

#pq-mycheats .box .top .feature span {
  display: block;
  font-size: 1.2rem;
  text-transform: uppercase;
  margin-left: .5rem;
}

#pq-mycheats .box .top .feature span:nth-child(1) {
  color: var(--primary);
  font-weight: 700;
  position: relative;
  margin-top: .5rem;
}

#pq-mycheats .box .top .feature span:nth-child(2) {
  color: white;
  font-weight: 700;
  font-size: 1.5rem;
  position: relative;
  bottom: .6rem;
}

#pq-mycheats .box p {
  color: rgb(155, 161, 166, 0.8);
  text-shadow: 0px 0px 6px rgb(0, 0, 0, 0.3);
  position: relative;
  bottom: .3rem;
}

#pq-mycheats .overlay {
  position: absolute;
  width: 912px;
  height: 543px;
  left: 50%;
  transform: translateX(-50%);
  bottom: -450px;
  background: radial-gradient(50% 50% at 50% 50%, rgba(186, 8, 8, 0.225) 0%, rgba(186, 8, 8, 0.075) 64.58%, rgba(186, 8, 8, 0) 100%);
}

/* ~why choose */

/* stats */

#stats {
  width: 100%;
  background-color: #151718;
  overflow: hidden;
  padding: 5rem 0;
  position: relative;
  border-top: 1px solid #3C3C3C;
  border-bottom: 1px solid #3C3C3C;
}

#stats h3 {
  font-size: 2rem;
  font-weight: 700;
  color: white;
}

#stats .box {
  color: white;
}

#stats .box span {
  font-size: 2rem;
  font-weight: 700;
}

#stats .box span:nth-child(1) {
  color: var(--primary);
}

#stats .box p {
  color: #9BA1A6;
}

/* ~stats */

/* purchase */

#produtos-mych {
  width: 100%;
  overflow: hidden;
  padding: 5rem 0;
  padding-bottom: 8rem;
  position: relative;
  background-color: #121415;
}

#produtos-mych .overlay-top {
  position: absolute;
  width: 976px;
  height: 1005px;
  left: -530px;
  top: -502px;

  background: radial-gradient(50% 50% at 50% 50%, rgba(186, 8, 8, 0.45) 0%, rgba(186, 8, 8, 0.15) 64.58%, rgrgba(186, 8, 8, 0)00%);
}

#produtos-mych .overlay-bottom {
  position: absolute;
  width: 976px;
  height: 1005px;
  right: -480px;
  top: 400px;

  background: radial-gradient(50% 50% at 50% 50%, rgba(186, 8, 8, 0.25) 0%, rgba(186, 8, 8, 0.05) 64.58%, rgba(186, 8, 8, 0) 100%);
}

#produtos-mych .overlay-new {
  position: absolute;
  width: 1476px;
  height: 1005px;
  left: -300px;
  top: 800px;

  background: radial-gradient(50% 50% at 50% 50%, rgba(186, 8, 8, 0.25) 0%, rgba(186, 8, 8, 0.05) 64.58%, rgba(186, 8, 8, 0) 100%);
}

#produtos-mych .overlay-new1 {
  position: absolute;
  width: 1476px;
  height: 1005px;
  right: -300px;
  top: 1400px;

  background: radial-gradient(50% 50% at 50% 50%, rgba(186, 8, 8, 0.25) 0%, rgba(186, 8, 8, 0.05) 64.58%, rgba(186, 8, 8, 0) 100%);
}

#produtos-mych .overlay-new2 {
  position: absolute;
  width: 976px;
  height: 1005px;
  left: -300px;
  top: -200px;

  background: radial-gradient(50% 50% at 50% 50%, rgba(186, 8, 8, 0.25) 0%, rgba(186, 8, 8, 0.05) 64.58%, rgba(186, 8, 8, 0) 100%);
}

#produtos-mych .gui-left {
  position: absolute;
  left: 50%;
  filter: blur(10px) drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  opacity: .3;
  top: 200px;
}

#produtos-mych .gui-right {
  position: absolute;
  -moz-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  right: 50%;
  filter: blur(10px) drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  opacity: .3;
  top: 200px;
}

#produtos-mych .top-text h2 {
  font-weight: 700;
  font-size: 2.4rem;
  margin-bottom: .5rem;
  color: white;
}

#produtos-mych .top-text p {
  font-weight: 500;
  font-size: 1rem;
  line-height: 25px;
  color: #9BA1A6;
  margin-bottom: 2rem;
}

#produtos-mych .row {
  position: relative;
  z-index: 1;
}

#produtos-mych .box {
  position: relative;
  background: rgb(21, 23, 24, .74);
  border: 1px solid #272727;
  border-radius: 15px;
  padding: 1.7rem;
  color: white;
  padding-bottom: 125px;
  margin-bottom: 30px;
}

#produtos-mych .box .buy {
  background: rgb(21, 23, 24, .74);
  position: absolute;
  /* bottom: 0; */
  padding: 1.2rem 1.5rem;
  padding-left: 1.7rem;
  width: 100%;
  left: 0;
  border-radius: 15px;
  border: 1px solid #272727;
  border-bottom: 0;
  padding-bottom: 1.8rem;
}

#produtos-mych .box.promo {
  background: linear-gradient(180deg, rgba(24, 21, 21, 0.74) rgba(255, 111, 111, 0.03)03) 100%;
}

#produtos-mych .box .checks {
  margin-top: 1.7rem;
}

#produtos-mych .box hr {
  background-color: rgb(255, 255, 255, 0.3);
}

#produtos-mych .box .top h3 {
  text-align: center;
  font-size: 1.3rem;
  padding-bottom: .4rem;
  font-weight: 600;
}

#produtos-mych .box .top small {
  font-size: .8rem;
  color: rgb(255, 255, 255, 0.6);
  font-weight: 400;
}


#produtos-mych .box .product h4 {
  font-size: 1.2rem;
  margin-bottom: .2rem;
  font-weight: 600;
}

#produtos-mych .box .product p {
  font-size: .9rem;
  color: rgb(155, 161, 166, 0.8);
  font-weight: 400;
}

#produtos-mych .box .checks .check span {
  position: relative;
  bottom: .25rem;
  left: .2rem;
  font-weight: 500;
  font-size: .9rem;
}

#produtos-mych .box .checks .check i {
  color: #08BA92;
  font-size: 1.2rem;
}

#produtos-mych .box .buy .price span {
  font-size: 1.4rem;
  font-weight: 700;
}

#produtos-mych .box .buy .price span small {
  opacity: .75;
  font-size: .8rem;
  font-weight: 500;
}

#produtos-mych .box .buy p {
  font-size: .8rem;
  font-weight: 500;
  color: rgb(155, 161, 166, 0.6);
  position: relative;
  bottom: .3rem;
}

#pricing .product-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  column-gap: 60px;
  row-gap: 50px;
}

#pricing {
  margin-bottom: 80px;
}

#pricing .product-list .product-card {
  width: 250px;
  height: 392px;
  position: relative;
  border-radius: 14px;
  /* box-shadow: 2px 2px 12px black; */
  cursor: pointer;
  transition: all .2s ease-in-out;
  transform-style: preserve-3d;
  transform: perspective(1000px);
}

.tilt-popup {
  transform: translateZ(20px);
}

#pricing .product-list .product-card:hover {
  transform: scale(1.03);
}

#pricing .product-list .product-card img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 14px;
  z-index: 1;
}

#pricing .product-list .product-card .product-card-content {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 4px;
  z-index: 2;
  width: 100%;
  height: 100%;
  padding: 3px;
  justify-content: flex-end;
  align-items: center;
  color: white;
}

#pricing .product-list .product-card .product-card-content .product-card-title {
  font-weight: bold;
  font-size: 20px;
}

#pricing .product-list .product-card .product-card-content .product-card-status {
  font-weight: 500;
  font-size: 17px;
}

.product-card-border-online {
  border: 2px solid#08BA92;
  -webkit-box-shadow: 0px 0px 15px 0px#08BA92;
  -moz-box-shadow: 0px 0px 15px 0px#08BA92;
  box-shadow: 0px 0px 15px 0px#08BA92;
}

.product-card-border-offline {
  border: 2px solid#D16666;
  -webkit-box-shadow: 0px 0px 15px 0px#D16666;
  -moz-box-shadow: 0px 0px 15px 0px#D16666;
  box-shadow: 0px 0px 15px 0px#D16666;
}

.product-card-border-desenvolvimento {
  border: 2px solid#2F80ED;
  -webkit-box-shadow: 0px 0px 15px 0px#2F80ED;
  -moz-box-shadow: 0px 0px 15px 0px#2F80ED;
  box-shadow: 0px 0px 15px 0px#2F80ED;
}

.product-card-border-manutencao {
  border: 2px solid#F2C94C;
  -webkit-box-shadow: 0px 0px 15px 0px#F2C94C;
  -moz-box-shadow: 0px 0px 15px 0px#F2C94C;
  box-shadow: 0px 0px 15px 0px#F2C94C;
}

/* #pricing .product-list .product-card .product-card-content .product-card-status .online {
  color: #08BA92 !important;
}

#pricing .product-list .product-card .product-card-content .product-card-status .off {
  color: #D16666 !important;
}

#pricing .product-list .product-card .product-card-content .product-card-status .manu {
  color: #F2C94C !important;
}

#pricing .product-list .product-card .product-card-content .product-card-status .dev {
  color: #2F80ED !important;
} */

#pricing .product-list .product-card .product-card-content div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: var(--primary);
  border-radius: 12px;
  width: 90%;
  padding: 8px 15px;
  margin-bottom: 15px;
  /* color: white; */
  font-weight: 400;
  font-size: 14px;
}

@media screen and (min-width: 800px) {
  #produtos-mych .box .buy .button {
    display: block;
    background-color: var(--primary);
    color: white;
    font-size: 15px;
    cursor: pointer;
    border: none;
    outline: none;
    text-align: center;
    margin-left: center;
  }
}

@media screen and (min-width: 800px) {
  #produtos-mych .box .buy .button:hover {
    background-color: #960023;
  }
}

@media screen and (min-width: 800px) {
  #produtos-mych .box .buy .button.features {
    background-color: transparent;
    color: rgb(155, 161, 166, 0.6);
    box-shadow: none;
    padding-left: 1rem;
    padding-right: 0;
    font-weight: 500;
  }
}


/* ~purchase */

/* contact */


#contact {
  padding: 4rem 0;
  padding-bottom: 4.3rem;

  background-color: #151718;
  position: relative;
  border-top: 1px solid #3C3C3C;
  border-bottom: 1px solid #3C3C3C;
}

#contact h2 {
  margin-bottom: .3rem;
  font-weight: bold;
  color: white;
}

#contact p {
  margin-bottom: 1.5rem;
  color: white;
  font-weight: 500;
  font-size: 1.2rem;
}

#contact a {
  margin: .5rem .5rem;
  display: inline-block;
  background-color: var(--primary);
  color: white;
}

/* ~contact */

/* footer */

footer {
  width: 100%;
  padding: 4rem 0;
  padding-bottom: .5rem;
  background-color: #121415;
}

footer p {
  color: rgb(255, 255, 255, 0.7);
  font-weight: 400;
  font-size: .7rem;
  width: 100%;
}

footer .items h5 {
  font-size: 1.3rem;
  color: white;
  border-left: 3px solid var(--primary);
  padding-left: .8rem;
  border-radius: 2px;
}

footer .items p {
  color: rgb(255, 255, 255, 0.7);
  font-weight: 400;
  font-size: .8rem;
  width: 90%;
}

footer .items ul {
  list-style-type: none;
  margin-bottom: 6rem;
}

footer .items ul a {
  color: white;
}

footer .items ul:nth-child(2),
footer .items ul:nth-child(3) {
  margin-left: 1rem;
  padding-left: 1rem;
  border-left: 1px solid rgb(255, 255, 255, 0.3);
}

footer .items ul:nth-child(2) a,
footer .items ul:nth-child(3) a {
  color: white;
  opacity: .5;
  font-size: .85rem;
  line-height: -1;
}

/* ~footer */

/* features */

#features {
  width: 100%;
  padding: 4rem 0;
  position: relative;
  color: white;
  min-height: 100vh;
  overflow: hidden;
}

#features .text-top {
  margin-top: 7rem;
  margin-bottom: 5rem;
}

#features .text-top h1 {
  font-size: 3rem;
  font-weight: 700;
}

#features .text-top p {
  font-size: 1.1rem;
  color: #9BA1A6;
  font-weight: 600;
}

#features h2 {
  font-weight: 700;
  margin-bottom: 1rem;
}

#features .box {
  background: rgba(21, 23, 24, 0.75);
  border: 1px solid #3C3C3C;
  box-shadow: 0px 0px 15px 10px rgba(0, 0, 0, 0.15);
  border-radius: 30px;
  padding: 2rem;
  padding-bottom: 3rem;
  position: relative;
}

#features .box h3 {
  font-size: 1.4rem;
  font-weight: 600;
  margin-bottom: .3rem;
}

#features .box p {
  font-size: .9rem;
  opacity: .58;
}

#features .box span {
  position: absolute;
  right: 1.7rem;
  bottom: 1rem;
  opacity: .58;
  font-weight: 300;
}

#features .overlay {
  position: absolute;
  width: 755px;
  height: 755px;
  right: -350px;
  top: 211px;

  background: radial-gradient(50% 50% at 50% 50%, rgba(186, 8, 8, 0.45) 0%, rgba(186, 8, 8, 0.15) 64.58%, rgba(186, 8, 8, 0) 100%);
}

/* ~features */